{
    "qna": [
        {
            "q": "인터넷 뱅킹 서비스 이용 방법을 알려주세요",
            "a": "인터넷 뱅킹 서비스 이용을 위해서는 먼저 회원가입을 하셔야 합니다. 회원가입 후 로그인하시면 다양한 금융 서비스를 이용하실 수 있습니다."
        },
        {
            "q": "입금은 어떻게해",
            "a": "<a href=\"/amm\">자산관리 페이지</a>에서 입금, 송금, 계좌개설, 계좌 내역을 확인할 수 있습니다."
        }
    ]
}